input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.react-datepicker-wrapper{
  width: 100% !important;
}

.buttons {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttons:hover {
  background-color: #45a049;
}

.main {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 40rem;
}

.area{
  display: flex;
  justify-content: center;
}

h1{ 
  text-align: center;
}

.twoFeilds{
  display: flex;
  justify-content: space-between;
}

.lable{
  margin-bottom: 10px;
}

.Status{
  width: 50%;
}

#toDo {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#toDo td, #toDo th {
  border: 1px solid #ddd;
  padding: 8px;
}

#toDo tr:nth-child(even){background-color: #f2f2f2;}

#toDo tr:hover {background-color: #ddd;}

#toDo th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.table{
  margin: 30px;
  margin-left: 100px;
  margin-right: 10F0px;;
}

.action{
  cursor: pointer;
}

.mainAction{
  display: flex;
}
